JWT_SECRET=
ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlzcyI6InN1cGFiYXNlIiwicmVmIjoicmVhbHRpbWUtZGV2IiwiaWF0IjoxNzcxNTgzMjYyLCJleHAiOjE5MjkyNjMyNjJ9.SZStGvO42q5-4yQUQMho_RIhwnfhEMI8KfRwnU9LY_c
SERVICE_ROLE_KEY=
DASHBOARD_USERNAME=
DASHBOARD_PASSWORD=
SECRET_KEY_BASE=
NEW_TEL_API_KEY=
NEW_TEL_SIGN_KEY=
NEXT_PUBLIC_BASE_URL=
BASE_URL=
API_SECRET=
AUTO_PAYOUT_SECRET=
CRON_KEY=
INTERNAL_PAYOUT_SECRET=
CUSTOM_AUTH_SECRET=
NEWTEL_CALLBACK_URL=
