NEXT_PUBLIC_SUPABASE_URL=https://testsupadb1.onloc.ru
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_JWT_SECRET=
SUPABASE_ACCESS_TOKEN=
NEXT_PUBLIC_YANDEX_MAPS_API_KEY=
NEXT_PUBLIC_DADATA_TOKEN=
NEXT_PUBLIC_VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
TBANK_KEY_PRIVATE=
VKCOM_KEY_PRIVATE=
VKCOM_CLIENT_ID=
VKCOM_CLIENT_SECRET=
NEXT_PUBLIC_VK_CLIENT_ID=
NEW_TEL_API_KEY=
NEW_TEL_SIGN_KEY=
GROK_API_KEY=
MAILRU_PASSWORD=
NEXT_PUBLIC_UTC_TIMEZONEDB=
TBANK_TERMINAL_KEY=
TBANK_SECRET=
TBANK_API_BASE=
TBANK_PARTNER_EMAIL=
TBANK_DEBUG=

# Optional (T-Bank):
TBANK_FORM_BASE=
TBANK_PARTNER_API_BASE=
TBANK_OAUTH_URL=
TBANK_OAUTH_BASIC=
TBANK_OAUTH_LOGIN=
TBANK_OAUTH_PASSWORD=
TBANK_MTLS_CERT_BASE64=
TBANK_MTLS_KEY_BASE64=
TBANK_MTLS_CA_BASE64=
TBANK_MTLS_CERT_PATH=
TBANK_MTLS_KEY_PATH=
TBANK_MTLS_CA_PATH=
TBANK_MTLS_INSECURE=
TBANK_ADD_CARD_CHECK_TYPE=
TBANK_ADD_CARD_PAYFORM=
TBANK_DEBUG_VERBOSE=
TBANK_BILLING_DESCRIPTOR_PREFIX=

# Deprecated (do not use in new setup):
# TBANK_PASSWORD=
# TBANK_ENV=
# TBANK_E2C_BASE=
# TBANK_BASE=
# TBANK_BASE_URL=
NEXT_PUBLIC_BASE_URL=https://mytest.onloc.ru
NEXT_PUBLIC_GEONAMES_USERNAME=
API_SECRET=
DATANEWTON_API_KEY=
VKCOM_DEBUG=
VKCOM_VISION_TOKEN=
INTERNAL_PAYOUT_SECRET=
CUSTOM_AUTH_SECRET=
SUPABASE_FUNCTIONS_URL=

